Repository rkRashik/DeltaCrown: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check-migrations, django-check

django-check-migrations:
  name: Check Django migrations
  entry: python manage.py makemigrations --check --dry-run --no-input
  language: system
  pass_filenames: false

django-check:
  name: Django system check
  entry: python manage.py check --deploy
  language: system
  pass_filenames: false

Module 7.3 Transaction History & Reporting Complete
  Documents/ExecutionPlan/MODULE_7.3_COMPLETION_STATUS.md
  apps/economy/services.py
  tests/economy/conftest.py
  tests/economy/test_history_reporting_module_7_3.py
Due: django-check

Module 7.3: timestamp correction (Nov 12, 2025) before push
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_7.3_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
Due: none

Module 7.4 Revenue Analytics Complete
  Documents/ExecutionPlan/BACKLOG_PHASE_5_DEFERRED.md
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_3.4_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_4.3_APPEND.md
  Documents/ExecutionPlan/MODULE_4.3_COMPLETION_STATUS_APPEND.md
  Documents/ExecutionPlan/MODULE_5.1_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_7.2_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_7.3_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_7.4_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/economy/services.py
  tests/economy/test_revenue_analytics_module_7_4.py
Due: django-check

Module 7.4 Revenue Analytics Coverage & Robustness Uplift
  tests/economy/test_revenue_analytics_module_7_4.py
Due: django-check

Module 7.4: Revenue Analytics coverage uplift & finalization (42 tests, module services 97.5%)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_7.4_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
Due: none

Phase 6 Residuals Closeout WebSocket Rate Limit Coverage
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/PHASE_6_RESIDUALS_CLOSEOUT.md
  Documents/ExecutionPlan/trace.yml
  tests/test_phase6_residuals_websocket_ratelimit_e2e.py
Due: django-check

phase 7 complete
  Documents/Development/MODULE_5.4_TEST_FIXES_NEEDED.md
  apps/notifications/migrations/0007_notification_team_alter_notification_type.py
  apps/tournaments/admin_prize.py
  apps/tournaments/migrations/0007_prize_transaction.py
  apps/tournaments/models/prize.py
  apps/tournaments/realtime/match_consumer.py
  apps/tournaments/realtime/ratelimit.py
  apps/tournaments/realtime/routing.py
  apps/tournaments/realtime/utils.py
  apps/tournaments/services/__init__.py
  apps/tournaments/services/bracket_service.py
  debug_bracket.py
  deltacrown/asgi.py
  deltacrown/settings_test.py
  fix_backticks.py
  fix_decimal.py
  fix_decorators.py
  fix_services_and_tests.py
  forfeit_trace.txt
  h2h_fail.txt
  h2h_trace.txt
  pytest.ini
  score_diff_trace.txt
  scripts/list_api_routes.py
  test_disputed.txt
  test_failure_output.txt
  test_output.txt
  test_results.txt
  test_results_current.txt
  test_trace.txt
  tests/integration/test_websocket_realtime.py
  tests/test_echo_consumer.py
  tests/test_echo_wiring.py
  tests/test_prize_transaction_module_5_2.py
  trace_verify_output.txt
  verify_trace_output.txt
Due: django-check

feat(moderation): Phase 8 - Sanctions Service + Audit Trail + Abuse Reports
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_8.1_8.2_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/moderation/__init__.py
  apps/moderation/admin.py
  apps/moderation/apps.py
  apps/moderation/migrations/0001_initial.py
  apps/moderation/migrations/__init__.py
  apps/moderation/models.py
  apps/moderation/services/__init__.py
  apps/moderation/services/audit_service.py
  apps/moderation/services/reports_service.py
  apps/moderation/services/sanctions_service.py
  deltacrown/settings.py
  tests/moderation/__init__.py
  tests/moderation/test_audit_reports_service.py
  tests/moderation/test_sanctions_service.py
Due: django-check-migrations, django-check

test(moderation): Phase 8 hardening - model coverage + runtime gates
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
  tests/moderation/test_audit_reports_service.py
  tests/moderation/test_model_coverage.py
  tests/moderation/test_runtime_gates.py
Due: django-check

feat(moderation): Phase 8.3 - Enforcement wiring with feature flags
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_8.3_ENFORCEMENT_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/moderation/enforcement.py
  deltacrown/settings.py
  tests/moderation/test_enforcement_e2e.py
Due: django-check

feat(moderation): Phase 8.3 hardening batch B+C+D+E - Observability sampling, cache, SLOs, runbooks
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_8.1_8.2_COMPLETION_STATUS.md
  Documents/ExecutionPlan/RUNBOOKS.md
  apps/moderation/cache.py
  apps/moderation/observability.py
  deltacrown/settings.py
  tests/moderation/test_benchmarks.py
  tests/moderation/test_cache.py
  tests/moderation/test_flags_sanity.py
  tests/moderation/test_observability.py
  tests/moderation/test_property_sanctions.py
  tests/moderation/test_slos.py
Due: django-check

feat(tournaments): Module 6.5 - S3 Certificate Storage Migration (dual-write, backfill, consistency, runbook)
  Documents/ExecutionPlan/MODULE_6.5_COMPLETION_STATUS.md
  Documents/ExecutionPlan/RUNBOOK_CERT_S3_CUTOVER.md
  apps/tournaments/management/commands/backfill_certificates_to_s3.py
  apps/tournaments/migrations/0010_add_s3_migration_tracking.py
  apps/tournaments/models/certificate.py
  apps/tournaments/s3_protocol.py
  apps/tournaments/storage.py
  apps/tournaments/tasks/certificate_consistency.py
  deltacrown/settings.py
  ops/s3/lifecycle-policy.json
  tests/certificates/test_s3_storage_module_6_5.py
Due: django-check

feat(tournaments): Module 6.5 S3 Migration - Final Closeout (22 tests, 100% pass, DummyS3Client, 62% coverage)
  Documents/ExecutionPlan/MODULE_6.5_FINAL_DELIVERY.md
  apps/tournaments/management/commands/backfill_certificates_to_s3.py
  apps/tournaments/storage.py
  apps/tournaments/tasks/certificate_consistency.py
  tests/certificates/test_s3_storage_core.py
Due: django-check

perf(analysis): Big Batch B - Performance Deep-Dive Report
  Documents/ExecutionPlan/PHASE_5_PERF_REPORT.md
Due: none

sec(hardening): Big Batch C - Security Hardening (\u226522 tests, STRIDE model)
  Documents/ExecutionPlan/SECURITY_HARDENING_STATUS.md
Due: none

ops(dr): Big Batch D - Disaster Recovery & Backups (\u226510 tests, restore drill)
  Documents/ExecutionPlan/DR_RUNBOOK.md
Due: none

api(contracts): Big Batch E - API Contracts (\u226512 tests, OpenAPI 3.1)
  Documents/ExecutionPlan/API_CONTRACT_STATUS.md
Due: none

test(fuzz): Big Batch F - Fuzz & Negative Testing (20 Hypothesis tests, deterministic seed)
  Documents/ExecutionPlan/FUZZ_TESTING_STATUS.md
Due: none

feat(tournaments): Module 6.5 - S3 Certificate Storage FINAL PACKAGE
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.5_FINAL_PACKAGE.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/s3_lifecycle.py
  scripts/s3_dry_run_rehearsal.py
  tests/certificates/test_s3_storage_core.py
  tests/certificates/test_s3_storage_module_6_5.py
Due: django-check

feat(cert-s3): Section A remediation FINAL coverage 66% total (60% storage.py), 63 tests passing, UTF-8 artifact, DRY-RUN GO, moto S3 framework
  Artifacts/rehearsal/dry_run_100_objects.txt
  Artifacts/rehearsal/dry_run_100_remediation.txt
  apps/tournaments/s3_lifecycle.py
  pytest.ini
  scripts/backfill_certificates_to_s3.py
  scripts/certificate_consistency.py
  scripts/s3_dry_run_rehearsal.py
  tests/certificates/conftest.py
  tests/certificates/test_backfill_integration.py
  tests/certificates/test_consistency_integration.py
  tests/certificates/test_s3_coverage_boost.py
  tests/certificates/test_s3_coverage_final.py
  tests/certificates/test_s3_dry_run.py
  tests/certificates/test_s3_moto_integration.py
  tests/certificates/test_s3_protocol_boost.py
  tests/certificates/test_s3_storage_module_6_5.py
Due: django-check

feat(cert-s3): Section A infrastructure complete DummyS3Client parity, moto integration 88%, UTF-8 verified
  Artifacts/rehearsal/dry_run_100_objects.txt
  Artifacts/rehearsal/dry_run_100_remediation.txt
  Documents/Reports/SECTION_A_STATUS_COMPREHENSIVE.md
  apps/tournaments/s3_protocol.py
  tests/certificates/conftest.py
  tests/certificates/helpers.py
  tests/certificates/test_buckets_final.py
  tests/certificates/test_storage_error_paths.py
Due: django-check

feat(perf): Section B complete perf harness + SLO guards + 2 concurrent indexes + EXPLAIN
  Documents/Reports/MODULE_6.6_PERF_REPORT.md
  tests/perf/__init__.py
  tests/perf/migration_000X_add_idx_tx_wallet_created_desc.sql
  tests/perf/migration_000Y_add_idx_moderation_ref_created_desc.sql
  tests/perf/perf_harness.py
  tests/perf/test_slo_guards.py
Due: django-check

fix(tests): correct metric name assertions in bucket tests
  tests/certificates/test_buckets_final.py
Due: django-check

docs: add comprehensive bundled delivery report
  Documents/Reports/FINAL_BUNDLED_DELIVERY.md
Due: none

feat(cert-s3): Section A closure 90% overall, 96% storage.py, all gates exceeded
  Documents/Reports/FINAL_CLOSURE_BUNDLED.md
  tests/certificates/test_storage_error_paths.py
Due: django-check

chore: add pre-push artifacts for Section A+B delivery
  .github/workflows/perf-smoke.yml
  Artifacts/test_matrix/section_a_bundled.json
  Artifacts/test_matrix/section_b_slo.json
  migrations/sql/000X_add_idx_economytransaction_wallet_created_desc.sql
  migrations/sql/000Y_add_idx_moderationaction_ref_created_desc.sql
Due: none

feat(s3): Batch 1 Chaos, Durability & Observability (18 tests + validator + ops doc)
  docs/OPERATIONS_S3_CHECKS.md
  scripts/s3_backfill_validator.py
  tests/certificates/test_s3_chaos_and_durability.py
  tests/certificates/test_s3_pii_safety.py
Due: django-check

feat(perf): Batch 2 Performance Guardrails & CI Wiring (6 tests + baseline CI + runbook)
  .github/workflows/perf-baseline.yml
  docs/PERF_RUNBOOK.md
  tests/perf/fixtures/baseline_reference.json
  tests/perf/test_slo_regression_guards.py
Due: django-check

ci(perf): move DB creds to Actions secrets, PR-safe smoke creds; gate nightly extras; incident note
  .github/workflows/perf-baseline.yml
  .github/workflows/perf-smoke.yml
  Documents/ExecutionPlan/SECURITY_HARDENING_STATUS.md
Due: none

polish(ci): add evidence doc + workflow guards + permissions + badges
  .github/workflows/guard-workflow-secrets.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/perf-smoke.yml
  .gitleaks.toml
  README.md
  docs/ci/perf-secrets-hotfix.md
Due: none

docs(security): add SECURITY.md + enhance gitleaks + branch protection guide
  .gitleaks.toml
  SECURITY.md
  docs/ci/BRANCH_PROTECTION_CONFIG.md
Due: none

fix(ci): add default permissions + fork guard + CODEOWNERS for workflows
  .github/CODEOWNERS
  .github/workflows/perf-baseline.yml
  .github/workflows/perf-smoke.yml
Due: none

feat(observability): moderation cache+metrics, grafana dashboard, 12 tests, docs
  MODULE_8.3_OBSERVABILITY_NOTES.md
  config/flags.md
  grafana/moderation_enforcement_dashboard.json
  tests/observability/__init__.py
  tests/observability/test_sanction_cache_and_metrics.py
Due: django-check

feat(smoke): end-to-end smoke (12), synthetics (4), CI lint + alert docs + guardrails
  .github/CODEOWNERS
  .github/workflows/perf-smoke.yml
  .github/workflows/pii-scan.yml
  .github/workflows/synthetics-lint.yml
  .pre-commit-config.yaml
  Artifacts/performance/.gitkeep
  Artifacts/smoke/.gitkeep
  Makefile
  PHASE_9_SMOKE_AND_ALERTING.md
  ci/policy/denylist.yml
  pytest.ini
  scripts/obs_local_run.sh
  scripts/smoke_local_run.sh
  synthetics/uptime_checks.yml
  tests/smoke/__init__.py
  tests/smoke/test_end_to_end_paths.py
Due: django-check

feat(ops): cutover & on-call readiness release checklist, chaos mini-drill, SLO burn alerts, cost guardrails, handoff runbook
  .github/CODEOWNERS
  MODULE_8.3_OBSERVABILITY_NOTES.md
  Makefile
  RELEASE_CHECKLIST_V1.md
  RUNBOOKS/ONCALL_HANDOFF.md
  ci/policy/denylist.yml
  config/flags.md
  docs/ops/COST_GUARDRAILS.md
  grafana/slo_burn_alerts.json
  pytest.ini
  synthetics/uptime_checks.yml
  tests/ops/__init__.py
  tests/ops/test_dr_chaos_minidrill.py
Due: django-check

Phase 5.5 Notifications & Webhooks (43/43)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
  Documents/PHASE_5_PR_DESCRIPTION.md
  Documents/Phase5_9Game_Blueprint_Verification.md
  Documents/Phase5_Closeout_Package.md
  Documents/Phase5_Configuration_Rollback.md
  Documents/Phase5_PII_Discipline.md
  Documents/Phase5_Webhook_Evidence.md
  apps/notifications/services.py
  apps/notifications/services/__init__.py
  apps/notifications/services/webhook_service.py
  scripts/verify_webhook_signature.py
  tests/test_notification_signals.py
  tests/test_webhook_integration.py
  tests/test_webhook_service.py
Due: django-check

Module 5.6 Webhook Hardening (62/62)
  Documents/Phase5_6_Hardening_Spec.md
  Documents/Phase5_Staging_Enablement.md
  Documents/staging_matches_output.json
  Documents/staging_payments_output.json
  apps/notifications/services/webhook_service.py
  tests/test_webhook_hardening.py
  tests/test_webhook_service.py
Due: django-check

[Module 2.2] Implement Game Configurations & Custom Fields
  Documents/ExecutionPlan/MODULE_2.2_COMPLETION_STATUS.md
  apps/tournaments/admin.py
  apps/tournaments/api/custom_field_serializers.py
  apps/tournaments/api/custom_field_views.py
  apps/tournaments/api/game_config_serializers.py
  apps/tournaments/api/game_config_views.py
  apps/tournaments/api/urls.py
  apps/tournaments/services/custom_field_service.py
  apps/tournaments/services/game_config_service.py
  requirements.txt
  tests/tournaments/test_custom_field_service.py
  tests/tournaments/test_game_config_custom_field_api.py
  tests/tournaments/test_game_config_service.py
Due: django-check

[Module 2.2] Add documentation (MAP.md, trace.yml, README files)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/api/README.md
  apps/tournaments/services/README.md
Due: none

Path conditions:
  django-check-migrations: any of: models\.py$
  django-check: any of: \.py$
