Repository rkRashik/DeltaCrown: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check-migrations, django-check

.pre-commit-config.yaml:

# Pre-commit hooks for DeltaCrown
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: name-tests-test
        args: ['--pytest-test-first']
      - id: requirements-txt-fixer

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: ['--line-length=100']

  # Import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=100']

  # Linting with flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,E501,W503']
        additional_dependencies: [
          'flake8-bugbear',
          'flake8-comprehensions',
          'flake8-simplify',
        ]

  # Security checks with bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-ll', '-q']
        files: ^apps/.*\.py$

  # Django-specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version=4.2']

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [
          'django-stubs',
          'djangorestframework-stubs',
          'types-redis',
          'types-requests',
        ]
        args: ['--config-file=pyproject.toml']
        exclude: 'migrations/'

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 120}}}']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3013']

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'package-lock.json|poetry.lock'

# Local hooks
  - repo: local
    hooks:
      # Django migrations check
      - id: django-check-migrations
        name: Check Django migrations
        entry: python manage.py makemigrations --check --dry-run --no-input
        language: system
        pass_filenames: false
        files: 'models\.py$'
        
      # Django system checks
      - id: django-check
        name: Django system check
        entry: python manage.py check --deploy
        language: system
        pass_filenames: false
        files: '\.py$'

fix(docs): populate module 2.5 trace + fix 4.5 dates + enhance verify_trace logic
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_4.5_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  scripts/verify_trace.py
Due: django-check

docs(module:4.6): API Polish & QA - consistency audit + comprehensive docs + smoke tests
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_4.6_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  tests/test_api_polish_module_4_6.py
Due: django-check

docs(phase:4): Phase 4 Tournament Live Operations - completion summary + backlog
  Documents/ExecutionPlan/BACKLOG_PHASE_4_DEFERRED.md
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/PHASE_4_COMPLETION_SUMMARY.md
Due: none

docs(phase:5): Phase 5 Tournament Post-Game - implementation plan (planning only)
  Documents/ExecutionPlan/PHASE_5_IMPLEMENTATION_PLAN.md
Due: none

docs(phase:5): Traceability prep - trace.yml stubs + MAP.md scaffold + Module 5.1 checklist
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_5.1_EXECUTION_CHECKLIST.md
  Documents/ExecutionPlan/trace.yml
Due: none

feat(module:5.1): Step 1 - TournamentResult model + admin + migration + test scaffolding
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/admin_result.py
  apps/tournaments/migrations/0005_tournament_result.py
  apps/tournaments/models/__init__.py
  apps/tournaments/models/result.py
  tests/test_winner_determination_module_5_1.py
Due: django-check

feat(module:5.1): Step 2 - WinnerDeterminationService with ID normalization + 12 core tests passing
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/migrations/0006_add_combined_index_tournament_method.py
  apps/tournaments/realtime/utils.py
  apps/tournaments/services/winner_service.py
  tests/test_winner_determination_module_5_1.py
Due: django-check

feat(module:5.1): Steps 4-7 - WebSocket integration, integration tests, completion docs
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_5.1_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/realtime/consumers.py
  apps/tournaments/realtime/utils.py
  apps/tournaments/services/winner_service.py
  tests/test_winner_determination_module_5_1.py
Due: django-check

feat(module:5.2): Milestone 2 - PayoutService + 19 unit tests
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/services/payout_service.py
  tests/test_payout_service_module_5_2.py
Due: django-check

feat(module:5.2): Milestone 3 - Payout API + reconciliation (36/36 tests)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_5.2_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/api/payout_serializers.py
  apps/tournaments/api/payout_views.py
  apps/tournaments/api/urls.py
  tests/test_payout_api_module_5_2.py
Due: django-check

docs(module:5.2): Add rollback/replay procedures and operational notes
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_5.2_COMPLETION_STATUS.md
Due: none

feat(module:5.3): Milestone 1 - Certificate model + migration + admin
  apps/tournaments/admin.py
  apps/tournaments/admin_certificate.py
  apps/tournaments/migrations/0008_certificate.py
  apps/tournaments/models/__init__.py
  apps/tournaments/models/certificate.py
  tests/test_certificate_model_module_5_3.py
Due: django-check

feat(module:5.3): Milestone 2 - CertificateService + 20 service tests
  apps/tournaments/services/__init__.py
  apps/tournaments/services/certificate_service.py
  requirements.txt
  static/fonts/.gitkeep
  static/fonts/README.md
  tests/test_certificate_service_module_5_3.py
Due: django-check

feat(module:5.3): Milestone 3 - API endpoints + 12 integration tests
  apps/tournaments/api/certificate_serializers.py
  apps/tournaments/api/certificate_views.py
  apps/tournaments/api/urls.py
  tests/test_certificate_api_module_5_3.py
Due: django-check

docs(module:5.3): Add comprehensive completion documentation
  Documents/Development/MODULE_5.3_COMPLETION_STATUS.md
Due: none

docs(module:5.3): Update MAP.md and trace.yml for Module 5.3 completion
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
Due: none

docs+feat(module:5.4): Analytics & Reports complete — 37 tests, 93% coverage, CSV streaming, PII-safe
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_5.4_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/api/analytics_views.py
  apps/tournaments/api/urls.py
  apps/tournaments/services/analytics_service.py
  tests/test_analytics_api_module_5_4.py
  tests/test_analytics_service_module_5_4.py
Due: django-check

docs(phase:5): Phase 5 Tournament Lifecycle complete — 4 modules, 122 tests, 87% coverage
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/PHASE_5_COMPLETION_SUMMARY.md
Due: none

feat(module:6.1): async-native WebSocket broadcasts + unskipped tests (utils 80% coverage)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.1_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/realtime/utils.py
  apps/tournaments/services/bracket_service.py
  apps/tournaments/services/match_service.py
  apps/tournaments/services/winner_service.py
  tests/test_websocket_enhancement_module_4_5.py
Due: django-check

feat(module:6.2): materialized views for analytics (70.5x speedup, 13/13 tests)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.2_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/management/commands/refresh_analytics.py
  apps/tournaments/migrations/0009_analytics_materialized_view.py
  apps/tournaments/services/analytics_service.py
  apps/tournaments/tasks/analytics_refresh.py
  tests/test_analytics_materialized_views_module_6_2.py
Due: django-check

feat(module:6.3): url routing audit - fix duplicate tournaments/ prefix (6/6 tests)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.3_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/tournaments/api/bracket_views.py
  tests/test_url_routing_audit_module_6_3.py
Due: django-check

fix(module:6.4): module 4.2 tests to 100% pass rate (19/19 tests, 7 bugs fixed)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.4_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  tests/test_bracket_api_module_4_1.py
Due: django-check

docs(module:6.5): s3 migration planning complete (design-only, no implementation)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.5_COMPLETION_STATUS.md
  Documents/ExecutionPlan/S3_MIGRATION_DESIGN.md
  Documents/ExecutionPlan/trace.yml
  Documents/Runbooks/S3_OPERATIONS_CHECKLIST.md
  scripts/migrate_certificates_to_s3.py
  settings_s3.example.py
Due: django-check

docs(module:6.5): add future enhancements section (non-blocking polish)
  Documents/ExecutionPlan/S3_MIGRATION_DESIGN.md
Due: none

test(module:6.6): realtime coverage uplift test suite (45%72% projected)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.6_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  tests/test_websocket_realtime_coverage_module_6_6.py
  tests/test_websocket_realtime_unit_module_6_6.py
Due: django-check

Module 6.6 Realtime Coverage Uplift (Complete w/ Variance)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.6_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_6.6_INTEGRATION_UNBLOCK.md
  Documents/ExecutionPlan/trace.yml
  tests/test_asgi.py
  tests/test_websocket_middleware_ratelimit_module_6_6.py
  tests/test_websocket_realtime_coverage_module_6_6.py
  tests/test_websocket_realtime_unit_module_6_6.py
  tests/websocket_test_middleware.py
Due: django-check

Module 6.7 Step 1 Utils Batching Coverage (Complete)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.7_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_6.7_KICKOFF.md
  Documents/ExecutionPlan/trace.yml
  tests/test_utils_batching_module_6_7.py
Due: django-check

Module 6.7 Step 2 Match Consumer Lifecycle (Complete)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.7_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  tests/test_match_consumer_lifecycle_module_6_7.py
Due: django-check

Module 6.7 Step 3: Rate-Limit Enforcement (Complete w/ Variance)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_6.7_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  tests/test_middleware_ratelimit_enforcement_module_6_7.py
Due: django-check

Module 6.8 Kickoff: Redis-Backed Enforcement & E2E Rate Limiting
  Documents/ExecutionPlan/MODULE_6.8_KICKOFF.md
Due: none

Module 6.8 Phase 1: Redis Test Infrastructure
  docker-compose.test.yml
  tests/conftest.py
  tests/redis_fixtures.py
  tests/test_middleware_ratelimit_redis_module_6_8.py
Due: django-check

Module 6.8: Fix async/Redis integration for tests
  tests/redis_fixtures.py
  tests/test_middleware_ratelimit_redis_module_6_8.py
Due: django-check

Module 6.8 Redis-backed Enforcement (Utility-level Coverage)
  Documents/ExecutionPlan/MODULE_6.8_COMPLETION_STATUS.md
  Documents/ExecutionPlan/MODULE_6.8_PHASE1_STATUS.md
  apps/tournaments/realtime/middleware_ratelimit.py
  tests/redis_fixtures.py
  tests/test_middleware_mapping_module_6_8.py
  tests/test_middleware_ratelimit_redis_module_6_8_SKIPPED.py
  tests/test_ratelimit_utilities_redis_module_6_8.py
Due: django-check

Module 6.8: Update MAP.md and trace.yml with completion results
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/trace.yml
Due: none

Module 7.1: Coin System kickoff document
  Documents/ExecutionPlan/MODULE_7.1_KICKOFF.md
Due: none

Module 7.1 Step 1: Test-First Scaffolding
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_7.1_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  tests/economy/test_admin_reconcile_module_7_1.py
  tests/economy/test_idempotency_module_7_1.py
  tests/economy/test_ledger_invariants_module_7_1.py
  tests/economy/test_service_api_module_7_1.py
  tests/economy/test_transfer_properties_module_7_1.py
Due: django-check

Module 7.1 Step 2: Ledger Invariants (Atomic & Immutable)
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_7.1_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/economy/exceptions.py
  apps/economy/migrations/0002_add_allow_overdraft_and_constraints.py
  apps/economy/models.py
  tests/economy/test_ledger_invariants_module_7_1.py
Due: django-check-migrations, django-check

Module 7.1 Steps 45 Complete + Coverage Uplift
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_7.1_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/economy/management/__init__.py
  apps/economy/management/commands/__init__.py
  apps/economy/management/commands/recalc_all_wallets.py
  apps/economy/services.py
  tests/economy/test_admin_reconcile_module_7_1.py
  tests/economy/test_coverage_uplift_module_7_1.py
  tests/economy/test_idempotency_module_7_1.py
Due: django-check

Module 7.2 (Iteration 1) Shop Models + Services: Core Implementation Complete
  Documents/ExecutionPlan/MODULE_7.2_KICKOFF.md
  apps/shop/__init__.py
  apps/shop/admin.py
  apps/shop/apps.py
  apps/shop/exceptions.py
  apps/shop/migrations/0001_initial.py
  apps/shop/migrations/__init__.py
  apps/shop/models.py
  apps/shop/services.py
  deltacrown/settings.py
  tests/shop/conftest.py
  tests/shop/test_authorize_capture_release_module_7_2.py
  tests/shop/test_available_balance_module_7_2.py
  tests/shop/test_catalog_admin_module_7_2.py
  tests/shop/test_concurrency_module_7_2.py
  tests/shop/test_refund_module_7_2.py
Due: django-check-migrations, django-check

Module 7.2 Final Coverage Closure
  Documents/ExecutionPlan/MAP.md
  Documents/ExecutionPlan/MODULE_7.2_COMPLETION_STATUS.md
  Documents/ExecutionPlan/trace.yml
  apps/shop/services.py
  tests/shop/conftest.py
  tests/shop/test_authorize_capture_release_module_7_2.py
  tests/shop/test_available_balance_module_7_2.py
  tests/shop/test_concurrency_module_7_2.py
  tests/shop/test_coverage_closure_module_7_2.py
  tests/shop/test_edge_cases_coverage_module_7_2.py
  tests/shop/test_refund_module_7_2.py
Due: django-check
